      <%= form_for @inquiry, url: "inqueries/create", method: :post do |f| %>

      <div class="field">
        <%= f.label "Name" %><br>
        <%= f.text_field :name, :autofocus => true %>
      </div>

      <div class="field">
        <%= f.label "Email" %><br>
        <%= f.text_field :email, :autofocus => true %>
      </div>

      <div class="field">
        <%= f.label "Phone number" %><br>
        <%= f.text_field :phone, :autofocus => true %>
      </div>

      <div class="field">
        <%= f.label "General areas of interest" %><br>
        <%= f.label :dependent, "Mining" %> <%= f.check_box :mining %>
        <%= f.label :dependent, "Co-working" %> <%= f.check_box :co_working %>
        <%= f.label :dependent, "Project support" %> <%= f.check_box :project_support %>
      </div>

      <div class="field">
        <%= f.label "Details" %><br>
        <%= f.text_area :details, :autofocus => true %>
      </div>

      <div class="actions">
        <input type="submit" id="member-submit" value="Submit">
      </div>

  </div>
</div>
<% end %>

